{% extends "base.html" %}
{% load i18n %}


{% block title %}
{% trans 'პაროლის აღდგენა' %}
{% endblock title %}

{% block head %}
{% load staticfiles%}
	<link rel="stylesheet" type="text/css" href="{% static 'registration/css/email_send_for_new_password.css' %}">
{% endblock head %}


{% block content %}

<div class="container"> 
  <div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>{% trans 'პაროლის აღდგენა' %}</h2>
            <p><small class="text-muted">{% trans 'პაროლის აღსადგენად შეიყვანეთ იმეილი , თუ ასეთი იმეილი არსებობს შეტყობინების სახით მოგწერთ პაროლის აღდგენის ინსტრუქციას' %}</small></p>
            <form method="POST" >{% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-submit" type="submit" name="send" value="{% trans 'გაგზავნა' %}" style="color: blue;background-color: lightblue;margin: 27px 2px;">
            </form>
        </div>
    </div>
  </div>
</div>

{% endblock content %}