  <input  name="first_name" placeholder="{% trans 'სახელი' %}" class="form-control"  type="text">

<!-- Text input-->

<div class="form-group col-md-12">
  <label class="col-md-10 control-label" >{% trans 'გვარი' %}</label> 
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
  <input name="last_name" placeholder="{% trans 'გვარი' %}" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
       <div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'ემაილი' %}</label>  
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
  <input name="email" placeholder="{% trans 'ემაილი' %}" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'მობ.ტელეფონი' %}</label>  
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
  <input name="phone" placeholder="5xxxxxxxx" class="form-control" type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'დაბადების თარიღი' %}</label>  
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
  <input name="born"   type="date">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'მდებარეობა' %}</label>  
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
  <input name="location" placeholder="{% trans 'მდებარეობა' %}" class="form-control" type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'პროფესია' %}</label>  
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
  <input name="profession" placeholder="{% trans 'პროფესია' %}" class="form-control" type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'სახ.ტელეფონი' %}</label>  
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
  <input name="home_phone" placeholder="{% trans 'სახ.ტელეფონი' %}" class="form-control" type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'გამოცდილება' %}</label>  
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
  <input name="experience" placeholder="{% trans 'გამოცდილება' %}" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->
      
 <div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'მისამართი' %}</label>
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
            <textarea class="form-control" name="address" placeholder="{% trans 'მისამართი' %}"></textarea>
  </div>
  </div>
</div>

 <div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'მუშაობის დაწყების თარიღი' %}</label>
    <div class="col-md-12 inputGroupContainer">
    <div class="input-group">
        	<input class="date" name="work_time" >
  </div>
  </div>
</div>



<!-- Select Basic -->
   


<!--<div class="form-group col-md-12">
  <label class="col-md-10 control-label">Project Description</label>
    <div class="col-md-10 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil hint_icon"></i></span>
        	<textarea class="form-control" name="comment" placeholder="Project Description"></textarea>
  </div>
  </div>
</div>-->


<div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'ახალი პაროლი' %}</label>  
  <div class="col-md-12 inputGroupContainer">
  <div class="input-group">
  <input  name="password" placeholder="{% trans 'ახალი პაროლი' %}" class="form-control"  type="password">
    </div>
  </div>
</div>



<div class="form-group col-md-12">
  <label class="col-md-10 control-label">{% trans 'დაადასტურე პაროლი' %}</label>  
  <div class="col-md-12 inputGroupContainer">
  <div class="input-group">
  <input  name="conf_password" placeholder="{% trans 'გაიმეორე პაროლი' %}" class="form-control"  type="password">
    </div>
  </div>
</div>

