.book_img{
	width: 200px;
	height: 300px;
}
.carousel-inner .item
{
	height: 306px !important;
}

.carousel-inner .item  img
{
	height: 100%;
}

#logo_img
{
    margin: -8px -48px;
}



.errorlist
{
    position: absolute;
    margin: 0px 48px;
}

.bag-left {
    background-color: #F2F4F9 !important;
    border-radius: 10px;
    position: fixed !important;
    left: 66%;
    padding: 50px;

}

.products-bag-left {
    position: relative;
    left: 20px;
}

.products-right {
    border-radius: 7px;
    border: 1px solid #F2F4F9;
    padding: 5px;
}
.test2{
    position: absolute;
}
.about-page {
    padding-top: 50px!important;
}

.detail-img {
    width: 350px!important;
    height: 500px!important;
}

.sum {
    text-align: right;
    font-weight: bold;
    font-weight: bold;
}


/*  bhoechie tab */

div.bhoechie-tab-container {
    z-index: 10;
    background-color: #ffffff;
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ddd;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

div.bhoechie-tab-menu {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.bhoechie-tab-menu div.list-group {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a {
    margin-bottom: 0;
}

div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #FF723F;
}

div.bhoechie-tab-menu div.list-group>a:first-child {
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a:last-child {
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}

div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa {
    background-color: #FF723F;
    background-image: #FF723F;
    color: #ffffff;
}

div.bhoechie-tab-menu div.list-group>a.active:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #FF723F;
}

div.bhoechie-tab-content {
    background-color: #ffffff;
    /* border: 1px solid #eeeeee; */
    padding-left: 20px;
    padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active) {
    display: none;
}

.address {
    padding: 5px;
    border-radius: 5px;
    background-color: #F7F7F9;
}
.row{
    margin-right: 0;
}
.btn-block {
    display: block;
    width: 184px;
}

.input_number{
    width: 45px;
}

#total_price_lari{
    margin: 0px 33%;
}

.total_price{
    margin: 0px -49%;
}

#password_change_btn{
    display: block;
    margin: 5px 0px;
}