{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

    {% block title %} {% trans 'ჩვენს შესახებ' %} {% endblock title %}

   
{% block content %}




    <!-- Page Content -->
    <div class="container about-page">



        <!-- Intro Content -->
        <div class="row">
            <div class="col-lg-12">
            {% thumbnail object.about_img "1000x300"  as im %}
            <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}" class="img-responsive">
            {% endthumbnail %}
            </div>

            <div class="col-lg-12">
                <p>{{object.about_content|safe}}</p>
            </div>
        </div>

        <hr>
{% endblock content %}