{% load i18n %}

<!DOCTYPE html>
<html>
<head>
	<title>{% block title %} {% endblock title %}</title>
	{% load staticfiles%}

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!--Logo-->
    <link rel="icon" href="{% static 'images/logo.jpg' %}">
    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- jQuery JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


    <!-- - - - - - - - - - - - - - - - - - - - - - - - -->
    <!-- Bootstrap JS -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- END CUT HERE TO ADD Bootstrap -->

    <script src="{% static 'js/interactive.js' %}"></script>

    <!-- <link rel="stylesheet" href="{% static 'font-larisome/css/font-larisome.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	{% block head %}
	{% endblock head %}


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


</head>


<body>
{% include 'nav_bar.html' %}



{% block content %}



{% endblock content %}



                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <section id="forms">
                                        <ul class="tab">
                                            <li><a href="javascript:void(0)" class="tablinks active" onclick="openCity(event, 'registration')">{% trans 'რეგისტრაცია' %}</a></li>
                                            <li><a href="javascript:void(0)" class="tablinks" onclick="openCity(event, 'login')">შესვლა</a></li>

                                            <div id="registration" class="tabcontent" style="display:block;">
                                                <br>
                                                <br>
                                                <br>
                                                <form  action="{% url 'registration:sing' %}" method="POST">{% csrf_token %}
                                                    {{form.as_p}}
                                                    <button type="submit" name='singup' class="btn btn-primary">რეგისტრაცია</button>
                                                </form>
                                            </div>
                                            <div id="login" class="tabcontent">
                                                <br>
                                                <br>
                                                <br>
                                                <form action="{% url 'registration:sing' %}" method="POST">{% csrf_token %}
                                                {{form1.as_p}}
                                                    <div class="form-group">
                                                        <div class="offset-sm-2 col-sm-10">
                                                            <button type="submit" name='singin' class="btn btn-primary">შესვლა</button>
                                                            <a type="button" href="{% url 'registration:email_send_for_new_password'  %}" class="btn btn-primary">{% trans 'დაგავიწყდა პაროლი?' %}</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Palitra Media Holding 2017</p>
                </div>
            </div>
        </footer>
</body>


{% block script %}

{% endblock script %}

</html>