<div class="form-group">
                                                        <label for="example-text-input" class="col-2 col-form-label">სახელი</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text" placeholder="შეიყვანეთ სახელი" id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="example-text-input" class="col-2 col-form-label">გვარი</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text" placeholder="შეიყვანეთ გვარი" id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="example-text-input" class="col-2 col-form-label">პირადი ნომერი</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text" placeholder="შეიყვანეთ პირადი ნომერი" id="example-text-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">ელ.ფოსტა</label>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="შეიყვანეთ ელ.ფოსტა">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">პაროლი</label>
                                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="შეიყვანეთ პაროლი">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInputPassword1">გაიმეორეთ პაროლი</label>
                                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="გაიმეორეთ პაროლი">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="example-tel-input" class="col-2 col-form-label">ტელეფონის ნომერი</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="tel" value="+995" id="example-tel-input">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleSelect1">სქესი</label>
                                                        <select class="form-control" id="exampleSelect1">
                                                            <option>მდედრობითი</option>
                                                            <option>მამრობითი</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input"> წესები და პირობები
                                                        </label>
                                                    </div>