{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block title %} {% trans 'მკითხველთა კლუბი' %} {% endblock title %}

    {% block head %}
    {% load static %}
    {% endblock head %}





{% block content %}



    <!-- Navigation -->
    

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            {% for slide_img in slide_imgs %}
            {% if forloop.counter == 1 %}
            <div class="item active">
            {% else %}
            <div class="item">
            {% endif %}
                <img class="fill" src="{{  slide_img.img.url }}">
                <div class="carousel-caption">
                    <h2>{{slide_img.title}}</h2>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center">
                    {% trans 'წიგნები' %}
                </h1>
            </div>
        </div>
        {% for book in books %}

        {% if forloop.counter|add:"-1"|divisibleby:4 %}
        <div class="row">
        {% endif %}
            <div class="col-md-3">
                {% thumbnail book.image "140x200"  as im %}
                   <img src="{{im.url}}" width="{{ im.width }}" height="{{ im.height }}" > <!-- class="book_img"> -->
                {% endthumbnail %}
                <div class="col-lg-12">
                    <h4>{{book.title}}</h4></div>
                <div class="col-md-2"><strike>{{book.retail_price}}₾</strike></div>
                <div class="col-md-2">
                    <p>{{ book.catalog_price }}₾</p>
                </div>
                <div class="col-md-5">
                    <a href="{% url 'app:detail' book.id %}">
                    <button type="button" class="btn btn-info btn-sm">{% trans 'დეტალურად' %}</button>
                    </a>
                </div>
            </div>
        {% if forloop.counter|divisibleby:4 %}
        </div>
        <br>
        {% endif %}
        {% endfor %}
        {% if not books|length|divisibleby:4 %}
        </div>
        <br>
        {% endif %}

        <hr>
        {% if not user.is_authenticated %}
        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">{% trans 'გაიარეთ ავტორიზაცია ან დარეგისტრირდით' %}</button>

                    <!-- Modal -->
                </div>
            </div>
        </div>

        <hr>
        {% endif %}



    </div>

    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>
   
{% endblock content %}
