{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

    {% block title %} {% trans 'კალათა' %} {% endblock title %}


<!-- Page Content -->
{% block content %}
    <div class="container">
        <h3 class="text-center">კალათა</h3>
        <hr>

        <div class="row">
            <div class="col-md-8">
                <h3>პროდუქტები</h3>
                <hr>
                <div class="row products-right">
                    <div class="col-md-3"><img class="img-responsive" src="http://placehold.it/200x300"></div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-11">
                                <h3>სათაური</h3>

                            </div>
                            <div class="col-sm-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                            <br>
                            <div class="col-md-3">რაოდენობა</div>
                            <div class="col-md-2">1</div>
                            <div class="col-md-4">ფასი</div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal"></div>

                        </div>
                    </div>
                </div>

                <div class="row products-right">
                    <div class="col-md-3"><img class="img-responsive" src="http://placehold.it/200x300"></div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-11">
                                <h3>სათაური</h3>

                            </div>
                            <div class="col-sm-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                            <br>
                            <div class="col-md-3">რაოდენობა</div>
                            <div class="col-md-2">1</div>
                            <div class="col-md-4">ფასი</div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal"></div>

                        </div>
                    </div>
                </div>

                <div class="row products-right">
                    <div class="col-md-3"><img class="img-responsive" src="http://placehold.it/200x300"></div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-11">
                                <h3>სათაური</h3>

                            </div>
                            <div class="col-sm-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                            <br>
                            <div class="col-md-3">რაოდენობა</div>
                            <div class="col-md-2">1</div>
                            <div class="col-md-4">ფასი</div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal"></div>

                        </div>
                    </div>
                </div>

                <div class="row products-right">
                    <div class="col-md-3"><img class="img-responsive" src="http://placehold.it/200x300"></div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-11">
                                <h3>სათაური</h3>

                            </div>
                            <div class="col-sm-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                            <br>
                            <div class="col-md-3">რაოდენობა</div>
                            <div class="col-md-2">1</div>
                            <div class="col-md-4">ფასი</div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal"></div>

                        </div>
                    </div>
                </div>

                <div class="row products-right">
                    <div class="col-md-3"><img class="img-responsive" src="http://placehold.it/200x300"></div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-11">
                                <h3>სათაური</h3>

                            </div>
                            <div class="col-sm-1"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></div>
                            <br>
                            <div class="col-md-3">რაოდენობა</div>
                            <div class="col-md-2">1</div>
                            <div class="col-md-4">ფასი</div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal"></div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row" style="margin-left:5px;">
                    <div class="bag-left">
                        <div class="row products-bag-left">
                            <div class="col-md-6"><b>პროდუქტების ჩამონათვალი</b></div>
                            <div class="col-md-3"><b>ფასი</b></div>
                            <div class="col-md-3"><b>ჯამი</b></div>
                        </div>
                        <br>
                        <div class="row products-bag-left">
                            <div class="col-md-6">სათაური</div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal">x 1
                            </div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal"></div>
                        </div>
                        <div class="row products-bag-left">
                            <div class="col-md-6">სათაური</div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal">x 1
                            </div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal"></div>
                        </div>
                        <div class="row products-bag-left">
                            <div class="col-md-6">სათაური</div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal">x 1
                            </div>
                            <div class="col-md-3">5<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal"></div>
                        </div>
                        <hr>
                        <div class="row products-bag-left">
                            <div class="col-md-9">
                                <div class="sum">სულ ჯამი</div>
                            </div>
                            <div class="col-md-3">15<img src="https://cloud.githubusercontent.com/assets/1606993/7555191/57938f8a-f754-11e4-9792-7a0f961e83fb.png" width="12px" alt="lari-normal"></div>
                        </div>
                        <br>
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-primary btn-md btn-block">შეკვეთა</button>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <hr>


        <!-- /.container -->
    </div>
{% endblock content %}
