{% extends "base.html" %}
{% load i18n %}

    {% block title %} {% trans 'მადლობა' %} {% endblock title %}

    
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="margin-top:25px;">
                <center>
                    <p style="font-size:50px ;color:#FF723F"><span class="glyphicon glyphicon-ok" aria hidden="true"></span>თქვენ წარმატებით დაასრულეთ შეკვეთა</p>
                    <p style="font-size:25px; color:#A0A0A0">ჩვენი კურიერი მალე მოგიტანთ არჩეულ პროდუქციას!</p>
                </center>
            </div>
        </div>

    </div>
    <hr>
    {% endblock content %}